.masonry
    each val in image_arr
        div(class="img_item" id="img_item_" + val.id)
            .img_data_top
                span(id="likes_count_" + val.id) #{val.likes}
                // Если убрать одинарные кавычки из параметра, передаваемого в post_like, ничего работать не будет,
                // потому что id у нас строка!
                a#like_button.like_button(onclick="like('" + val.id + "', '" + val.author_id + "');") &#x2764;

            img(src="/" + val.id class="img")

            .img_data_bottom
                a(href="/author/" + val.author_id class="author_name") #{val.author_name}
                br
                each tag in val.tag
                    a(onclick="search_by_tag('" + tag + "')" class="tag")= tag
                    |   &#8195;

script.
    $(document).ready(function () {
        var img_data_bottom_height = $(".img_data_bottom").css("height");
        $(".img_data_bottom").css("margin-top", "-" + img_data_bottom_height);
    });

    $(".img_item").hover(function () {
        $("#" + $(this).prop("id") + " .img_data_top").css("visibility", "visible");
        $("#" + $(this).prop("id") + " .img_data_bottom").css("visibility", "visible");
    }, function () {
        $("#" + $(this).prop("id") + " .img_data_top").css("visibility", "hidden");
        $("#" + $(this).prop("id") + " .img_data_bottom").css("visibility", "hidden");
    });
