form#tag_search(name="tag_search", method="POST", action="/search")
    input#input_search_tag(type="text", name="search_tag" placeholder="Поиск по тегам")
    button(type="submit") Показать

if (!user)
    a(href="/login") Вход
    br
    a(href="/register") Регистрация
if (user)
    p Добро пожаловать, #{user.username}!
    a(href="/my_profile") Мой профиль
    |   &#8194;
    a(href="/logout") Выход