form#tag_search(name="tag_search", method="POST", action="/search")
    input#input_search_tag(type="text", name="search_tag" placeholder="Поиск по тегам")
    button(type="submit" id="button_search_tag" class="fa fa-search fa-lg" aria-hidden="true")

if (!user)
    a(href="/register" title="Регистрация" class="fa fa-user-plus fa-lg")
    a(href="/login" title="Вход" class="fa fa-sign-in fa-lg")

if (user)
    a(href="/logout" title="Выход" class="fa fa-sign-out fa-lg")

    .my_info
        if (user.avatar)
            img(onclick="window.location = '/my_profile'" title="Мой профиль" src="/img/" + user.avatar class="avatar small")
        else
            img(onclick="window.location = '/my_profile'" src="/images/default-avatar.jpg" class="avatar small")

        p(class="welcome_text" onclick="window.location = '/my_profile'") Добро пожаловать, #{user.username}

    form.file_upload#file_upload(name="file_upload", method="POST", action="/upload", enctype="multipart/form-data")
        a(class="fa fa-camera-retro fa-3x")
        input#input_file(type="file", name="file" onchange="show_upload()")
        include upload_file_settings

    if (user.subscriptions.length > 0)
        a(href="/subscriptions" title="Мои подписки" class="fa fa-users fa-lg")

