extends layout

block content
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p You are currently logged in as #{user.username}
        a(href="/logout") Logout

        form#file_upload(name="file_upload", method="POST", action="/upload", enctype="multipart/form-data")
            input#userInputFile(type="file", name="file")
            button(type="submit") Upload

    include feed