extends layout

block content

    if (!user)
        a(href="/login") Вход
        br
        a(href="/register") Регистрация
    if (user)
        p Добро пожаловать, #{user.username}!
        a(href="/logout") Выход

    p Поиск по тегу:
        form#tag_search(name="tag_search", method="POST", action="/search")
            input#input_search_tag(type="text", name="search_tag")
            button(type="submit") Показать

    if (user)
        form#file_upload(name="file_upload", method="POST", action="/upload", enctype="multipart/form-data")
            input#input_file(type="file", name="file")
            input#input_file_tag(type="text", name="tag")
            button(type="submit") Загрузить

    include feed