extends layout

block content
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user)
        p You are currently logged in as #{user.username}
        a(href="/logout") Logout

        form#file_upload(name="file_upload", method="POST", action="/upload", enctype="multipart/form-data")
            input#input_file(type="file", name="file")
            input#input_file_tag(type="text", name="tag")
            button(type="submit") Загрузить

    include feed