doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        script(type='text/javascript' src='/javascripts/jquery-min.js')
        script(type='text/javascript' src='/javascripts/functions.js')
        link(rel='stylesheet', href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        if (error && error.length > 0)
            br
            h4.error-msg= error
            br

        #header.header
            a(href="/")#main_title Web_Gallery
            block header

        #content.content
            block content

