extends layout

block content

    if (user)
        h1 Мой профиль
        if (user.avatar)
            img(src="/img/" + user.avatar class="avatar")
        else
            img(src="/images/octocat.jpg" class="avatar")

        form#file_upload(name="file_upload", method="POST", action="/upload_avatar", enctype="multipart/form-data")
            input#input_file(type="file", name="file")
            button(type="submit") Изменить аватар

        p Логин: #{user.username}
        p Мой рейтинг: #{user.rating}
        if (subs_arr)
            p Мои подписки: &nbsp;
            each author in subs_arr
                a(href="/author/" + author.id) #{author.username}
                |   &#8194;

        button(onclick="delete_myself('" + user._id + "')") Удалить профиль