extends layout

block content

    if (user)
        if (user.avatar)
            img(src="/img/" + user.avatar class="avatar float_left pict")
        else
            img(src="/images/default-avatar.jpg" class="avatar float_left pict")

        form#file_upload.change_avatar(name="file_upload", method="POST", action="/upload_avatar", enctype="multipart/form-data")
            a(class="fa fa-camera-retro fa-3x ava" title="Изменить аватар")
            input#input_file(type="file", name="file" onchange="show_upload_avatar()")
            button#upload_avatar(type="submit") Загрузить
        script.
            $(".avatar, .change_avatar").hover(function () {
                $(".ava, #input_file").css("visibility", "visible");
                $(".pict").css("filter", "brightness(0.8)");
            }, function () {
                $(".ava, #input_file").css("visibility", "hidden");
                $(".pict").css("filter", "brightness(1)");
            });

        .author_info
            p.author Я #{user.username}, и это мой профиль
            br
            span.rating Мой рейтинг:
            span.rating_value #{user.rating}
            br
            br
            if (subs_arr)
                span Мои подписки: &nbsp;
                each author in subs_arr
                    a(href="/author/" + author.id) #{author.username}
                    |   &#8194;
            br
            br
            button.subscribe.delete_myself(onclick="delete_myself('" + user._id + "')") Удалить профиль