extends layout

block content

    p(class="text level_1 lower") Регистрация
    form.form(role='form', action="/register", method="post", style='max-width: 300px;')
        input.input_field(type='text', name="username", placeholder='Логин')
        input.input_field(type='password', name="password", placeholder='Пароль')
        button.submit(type='submit') Зарегистрироваться
