#upload_file_settings
    br
    p(id="img_uploading_info" class="text level_1") Загрузка файла
    br
    br
    br
    p.center(class="text level_2") Пожалуйста, присвойте фотографии хотя бы один тег:
    input#input_file_tag.input_field(type="text", name="tag" placeholder="Введите теги через запятую")
    br
    br
    p.center(class="text level_2") Введите описание фотографии:
    input#img_description.input_field(name="description" class="")
    br
    br
    br
    br
    button#button_file_submit.submit(type="submit") Загрузить