* {
    box-sizing: border-box;
}

body {
    font-family: "Verdana";
    font-size: 16px;
}

a {
    cursor: pointer;
}

.label_tag:hover, a:hover {
    color: #9FA8DA;
}

.window_header {
    background: #9FA8DA;
    border-radius: 2px 2px 0 0;
    height: 100px;
    top: -20px;
    position: relative;
    width: 100%;
}

.text {
    color: #212121;
    margin: 20px;
}

.level_1 {
    font-size: 1.2em;
    text-align: center;
}

.level_2 {
    font-size: 1em;
}

.light_text {
    color: white;
}

.header {
    background: #212121;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.content {
    height: 85vh;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 0;
}

#main_title {
    color: #E8EAF6;
    float: left;
    font-size: 2em;
    margin: 26px;
}

#main_title:hover {
    color: #9FA8DA;
}

#tag_search {
    background: #d1d4e8;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    border-radius: 2px;
    float: left;
    position: relative;
    margin: 27px;
    width: 300px;
}

#input_search_tag, #button_search_tag {
    background: transparent;
    border: none;
    outline: none;
}

#input_search_tag {
    height: 42px;
    padding-left: 15px;
    width: 100%;
}

#input_search_tag:focus {
    background: #E8EAF6;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    border-radius: 2px;
}

#button_search_tag {
    color: #424242;
    cursor: pointer;
    height: 42px;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
}

#button_search_tag:hover {
    color: #3F51B5;
}

#button_search_tag:before {
    position: relative;
}

.float_left {
    float: left;
    margin: 10px;
}

.my_info {
    float: right;
    margin: 15px 50px 0 0;
    position: relative;
    width: auto;
}

.welcome_text {
    color: #E8EAF6;
    cursor: pointer;
    font-size: 0.8em;
    margin: 10px 0 0 0;
}

.fa-sign-out {
    color: #E8EAF6;
    float: right;
    margin: 38px 50px 0 0;
}

.fa-sign-in {
    color: #E8EAF6;
    float: right;
    margin: 38px 50px 0 0;
}

.fa-user-plus {
    color: #E8EAF6;
    float: right;
    margin: 38px 50px 0 0;
}

.fa-users {
    color: #E8EAF6;
    float: right;
    margin: 38px 50px 0 0;
}

#file_upload {
    cursor: pointer;
    float: right;
    margin: 22px 50px 0 0;
    overflow: hidden;
    position: relative;
    width: 54px;
}

.fa-camera-retro {
    color: #E8EAF6;
    cursor: pointer;
    z-index: 200;
}

.fa-camera-retro:hover {
    color: #9FA8DA;
}

.fa-trash-o {
    color: #912e2e;
    float: left;
    margin: 80vh 0 0 -23%;
    position: relative;
}

.fa-trash-o:hover {
    color: #E53935;
}

#input_file {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 20px;
    height: 54px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
}

#upload_file_settings {
    background: white;
    border-radius: 2px;
    float: left;
    height: 50vh;
    left: calc(50% - 250px);
    position: fixed;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);;
    top: 200px;
    visibility: hidden;
    width: 500px;
    z-index: 200;
}

/* Контейнер блоков Masonry */
.masonry {
    column-count: 5;
    column-gap: 0;
}

/* Блоки Masonry */
.img_item {
    background-color: #eee;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.img_item:hover {
    filter: brightness(0.8);
}

.img_data_top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    position: relative;
    width: 100%;
    visibility: hidden;
    z-index: 20;
}

.img {
    margin: -100px 0 -5px 0;
    position: relative;
    width: 100%;
    z-index: 0;
}

.img:hover {
    cursor: zoom-in;
}

.img_data_bottom {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    height: auto;
    position: relative;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.author_name, .tag, .likes_count {
    color: white;
    line-height: 1.5em;
    margin: 10px;
}

.like_button {
    color: #EF5350;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px 5px 5px 0;
    position: relative;
}

.like_button:active {
    color: #E53935;
}

.disabled, .disabled:active {
    color: #caa2a6;
    cursor: default;
}

.tag {
    background: none;
    border: none;
    cursor: pointer;
}

.delete {
    margin-left: 78%;
    position: relative;
}

.avatar {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.small {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    height: 50px;
    position: relative;
    width: 50px;
}

.large {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    float: left;
    height: 85vh;
    margin: 2vh 0 0 5%;
    position: relative;
}

.img_info {
    float: left;
    margin: 5% 3%;
    position: relative;
    width: 20%;
}

.big {
    font-size: 3em;
}

.likes {
    color: #424242;
}

.label {
    color: #424242;
    font-weight: bold;
    line-height: 2em;
}

.label_tag {
    color: #3F51B5;
    cursor: pointer;
    /* font-weight: bold; */
}

.gray {
    color: #505c70;
    font-weight: normal;
}

