body {
    font: 18px sans-serif;
}

a {
    color: #ffffff;
    cursor: pointer;
}

.light_text {
    color: white;
}

.header {
    background: #C8E6C9;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.content {
    position: absolute;
    top: 100px;
    z-index: 0;
}

/* Контейнер блоков Masonry */
.masonry {
    column-count: 5;
    column-gap: 0;
}

/* Блоки Masonry */
.img_item {
    background-color: #eee;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.img_item:hover {
    cursor: zoom-in;
    filter: brightness(0.8);
}

.img_data_top {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    position: relative;
    width: 100%;
    visibility: hidden;
    z-index: 20;
}

.img {
    margin: -100px 0 -5px 0;
    position: relative;
    width: 100%;
    z-index: 0;
}

.img_data_bottom {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    height: auto;
    position: relative;
    visibility: hidden;
    width: 100%;
    z-index: 10;
}

.author_name, .tag, .likes_count {
    color: white;
    line-height: 1.5em;
    margin: 10px;
}

.like_button {
    color: #EF5350;
    cursor: pointer;
    font-size: 1.2em;
    margin: 5px 5px 5px 0;
    position: relative;
}

.like_button:active {
    color: #E53935;
}

.disabled, .disabled:active {
    color: #caa2a6;
    cursor: zoom-in;
}

.tag {
    background: none;
    border: none;
    cursor: pointer;
}

.delete {
    margin-left: 78%;
    position: relative;
}

.avatar {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    width: 200px;
}

.large {
    height: 85vh;
}